body {
}

.nav-item .nav-link {
  color: black;
  margin-top: 30px;
  font-family: Arial;
  margin-right: 20px;
}

header {
  background-color: white;
}

.nav.justify-content-end {
   background-color: white;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);

.p. company_name{
  font-size: 20px;
  color: "#335C8A";
  font-family: arial-black;
}
