
body {
}

.nav-item .nav-link {
  color: black;
  margin-top: 30px;
  font-family: Arial;
  margin-right: 20px;


header {
  background-color: white;
}

p.company {
  margin: 0;                /* Remove extra spacing */
  font-family: "Arial Black", sans-serif;
  font-weight: 1000;
  color: #335C8A;
  font-size: 24px;          /* Adjust as needed */
  letter-spacing: 1px;      /* Optional: spacing between letters */
}

.nav.justify-content-end {
   background-color: white;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
